
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 20px;
    /* scroll-snap-align: start; Snap to start */
}
.card {
    background-color: #2d3748;
    padding: 20px;
    border-radius: 10px;
    width: 320px;
}
.card h2 {
    text-align: center;
    color: #ff6347;
    margin-bottom: 20px;
    
}
.skill {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.skill i {
    color: #ff6347;
    margin-right: 10px;
}
.skill p {
    margin: 0;
}
.skill .level {
    color: #c3c7cc;
    font-size: 0.9em;
}
.skillset{
    color: white;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        margin: 35px 0px;
    }
    
}